* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 10px;
}

@font-face {
  font-family: "digital-clock-font";
  src: url("./assets/fonts/digital-7.ttf");
}

body {
  background-color: rgb(255, 235, 220);
}

div.calculator {
  width: 40rem;
  height: 100vh;
  position: relative;
  left: 48.5%;
  transform: translate(-50%, 0%);
  /* border: 0.1rem solid black; */
}

div.calculator h1 {
  font-size: 3.5rem;
}

div.calculator-body {
  width: 40rem;
  position: relative;
  border-radius: 1rem 1rem 1rem 1rem;
}

div.input-panel {
  width: 40rem;
  border-radius: 1rem 1rem 0rem 0rem;
  margin-left: 2rem;
  box-shadow: 0rem 0.1rem 0rem 0rem black;
}

div.input-panel-box-shadow1 {
  width: 2.8rem;
  height: 6.45rem;
  background-color: black;
  border-radius: 1.1rem 1rem 0.5rem 0rem;
  position: absolute;
  top: 9.5%;
  left: 105%;
  transform: translate(-50%, -50%) skew(0deg, 25deg);
  z-index: -1;
}

div.input-panel input {
  height: 4.5rem;
  font-size: 5rem;
  padding-inline: 0.7rem;
  padding-top: 0.5rem;
  font-family: "digital-clock-font";
}

div.input-panel input:focus {
  box-shadow: none;
  border: 1px solid transparent;
}

div.body-panel {
  height: 30rem;
  gap: 1rem;
  padding-inline: 0.5rem;
  border-radius: 0rem 0rem 1rem 1rem;
  transform: skewX(-7.5deg);
}

div.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 8rem;
  height: 3.5rem;
  box-shadow: 0.2rem 0.4rem 0rem 0rem black;
  cursor: pointer;
}

div.button:active {
  box-shadow: 0.01rem 0.02rem 0rem 0rem black;
  transform: translate(0.2rem, 0.4rem);
}

div.button div {
  font-size: 2.5rem;
}

div.button#backspace div {
  font-size: 2.3rem;
  margin-top: -0.3rem;
}

div.button#ac div {
  font-size: 2.1rem;
  margin-top: -0.2rem;
}

div.button:is(#open-bracket, #close-bracket) div {
  font-size: 2.2rem;
  margin-top: -0.4rem;
}

div.button#dot div {
  font-size: 7rem;
  margin-top: -5rem;
}

div.button:not(
    #seven,
    #eight,
    #nine,
    #four,
    #five,
    #six,
    #one,
    #two,
    #three,
    #zero,
    #backspace,
    #ac,
    #open-bracket,
    #close-bracket,
    #dot
  )
  div {
  margin-top: -0.85rem;
  font-size: 3.5rem;
}

div.button:is(
    #seven,
    #eight,
    #nine,
    #four,
    #five,
    #six,
    #one,
    #two,
    #three,
    #zero
  )
  div {
  margin-top: -0.3rem;
}

div.body-panel-box-shadow1 {
  width: 40rem;
  height: 3.5rem;
  background-color: black;
  border-radius: 0rem 0rem 1rem 1rem;
  position: absolute;
  top: 102%;
  left: 46%;
  transform: translate(-50%, -50%) skewX(7.5deg);
  z-index: -1;
}

div.body-panel-box-shadow2 {
  width: 3.5rem;
  height: 32.5rem;
  background-color: black;
  border-radius: 0rem 0.5rem 1rem 0rem;
  position: absolute;
  top: 62.5%;
  left: 99%;
  transform: translate(-50%, -50%) skewX(-7.5deg);
  z-index: -1;
}

@media (max-width: 479px) {
  div.calculator {
    left: 48.5%;
  }

  div.calculator-body {
    width: 26rem;
  }

  div.input-panel {
    width: 26rem;
    margin-left: 1.6rem;
  }

  div.input-panel input {
    padding-inline: 1.1rem;
  }

  div.input-panel-box-shadow1 {
    width: 2.5rem;
    height: 6.7rem;
    border-radius: 0.55rem 1rem 0rem 0rem;
    top: 11.55%;
    left: 105.5%;
  }

  div.body-panel {
    gap: 0.8rem;
    height: 25rem;
    padding-inline: 0.25rem;
  }

  div.button {
    width: 5.5rem;
  }

  div.body-panel-box-shadow1 {
    width: 26rem;
    height: 2.5rem;
    top: 102.5%;
    left: 45%;
  }

  div.body-panel-box-shadow2 {
    width: 2.5rem;
    height: 26.6rem;
    top: 64.5%;
    left: 99%;
  }
}
